<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="movies">Movies DB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"> 
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/movies']"> <span class="sr-only">Popular Movies</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/movies', 'top_rated']" >Top Rated</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/movies', 'upcoming']" >upComing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/movies', 'now_playing']" >Now Playing</a>
      </li>
      <li ngbDropdown  class="nav-item dropdown" >
        <a ngbDropdownToggle class="nav-link dropdown-toggle" routerLink="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genres
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" *ngFor="let item of genres" routerLink="">{{item.name}}</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>